<p id="notice"><%= notice %></p>
<div align="center">
<p>
  <h1>
    <%= @campaign.title %>
  </h1>
</p>
<p>
  <%= @campaign.description %>
</p>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <strong> Today's Goals: </strong>
    <table border="1" style="width:400px; background-color:#FFF;">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Points</th>
          <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <% if @daily != nil %> 
          <% @daily.each do |item| %>
          <tr>
            <td>
              <%= item.title %> 
            </td>
            <td>
              <%= link_to item.content, "http://#{item.content}"%>
            </td>
            <td>
              <%= item.points %> 
            </td>
            <td>
              <% if logged_in? %>
                <% if (current_user.hascampaign(@campaign.id)) %>
                  <% unless (current_user.hasgoal(item.id)) %>
                    <%= form_tag 'completed' do |f| %>
                      <p>
                        <%= hidden_field_tag :goal, item.id %>
                        <%= hidden_field_tag :campaign, @campaign.id %>
                        <%= submit_tag "Mark Complete" %>
                      </p>
                    <% end %>
                  <% else %>
                    Complete!
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    Other Goals:
    <table border="1" style="width:400px; background-color:#FFF;">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Points</th>
          <th>Complete</th>
        </tr>
      </thead>
      <tbody>
        <% if @weekly != nil %> 
          <% @weekly.each do |item| %>
          <tr>
            <td>
              <%= item.title %> 
            </td>
            <td>
              <%= link_to item.content, "http://#{item.content}"%>
            </td>
            <td>
              <%= item.points %> 
            </td>
            <td>
              <% if logged_in? %>
                <% if (current_user.hascampaign(@campaign.id)) %>
                  <% unless (current_user.hasgoal(item.id)) %>
                    <%= form_tag 'completed' do |f| %>
                      <p>
                        <%= hidden_field_tag :goal, item.id %>
                        <%= hidden_field_tag :campaign, @campaign.id %>
                        <%= submit_tag "Mark Complete" %>
                      </p>
                    <% end %>
                  <% else %>
                    Complete!
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
        <% if @monthly != nil %> 
          <% @monthly.each do |item| %>
          <tr>
            <td>
              <%= item.title %> 
            </td>
            <td>
              <%= link_to item.content, "http://#{item.content}"%>
            </td>
            <td>
              <%= item.points %> 
            </td>
            <td>
              <% if logged_in? %>
                <% if (current_user.hascampaign(@campaign.id)) %>
                  <% unless (current_user.hasgoal(item.id)) %>
                    <%= form_tag 'completed' do |f| %>
                      <p>
                        <%= hidden_field_tag :goal, item.id %>
                        <%= hidden_field_tag :campaign, @campaign.id %>
                        <%= submit_tag "Mark Complete" %>
                      </p>
                    <% end %>
                  <% else %>
                    Complete!
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
        <% if @yearly != nil %> 
          <% @yearly.each do |item| %>
          <tr>
            <td>
              <%= item.title %> 
            </td>
            <td>
              <%= link_to item.content, "http://#{item.content}"%>
            </td>
            <td>
              <%= item.points %> 
            </td>
            <td>
              <% if logged_in? %>
                <% if (current_user.hascampaign(@campaign.id)) %>
                  <% unless (current_user.hasgoal(item.id)) %>
                    <%= form_tag 'completed' do |f| %>
                      <p>
                        <%= hidden_field_tag :goal, item.id %>
                        <%= hidden_field_tag :campaign, @campaign.id %>
                        <%= submit_tag "Mark Complete" %>
                      </p>
                    <% end %>
                  <% else %>
                    Complete!
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <strong> My Stats: </strong>
    <% if (current_user == nil) %>
      <%= button_to('Login', '/login', :class => 'btn btn-large btn-primary')  %>
    <% elsif (!(current_user.hascampaign(@campaign.id))) %>
      <%= form_tag 'join' do |f| %>
        <p>
          <%= hidden_field_tag :campaign, @campaign.id %>
          <%= hidden_field_tag :user, current_user.id %>
          <%= submit_tag "Join Campaign" %>
        </p>
      <% end %>
    <% else %>
      <br>
      Points:
      <%= @points %>
      <br>
      Level:
      <%= @points/10 %>

    <% end %>

    <!-- <p> 
      <strong> Future Goals: </strong>
      <ol style="text-align:left; list-style-position:inside;">
        <% if @weekly != nil %> 
          <% @weekly.each do |item| %>
          <li>
            <b>
              <%= item.title %>
            </b>
            <br> &emsp; &emsp;
            <%= item.content%>
          </li>
          <br>
          <% end %>
        <% end %>
        <% if @month != nil %> 
          <% @month.each do |item| %>
          <li>
            <b>
              <%= item.title %>
            </b>
            <br> &emsp; &emsp;
            <%= item.content%>
          </li>
          <br>
          <% end %>
        <% end %>
        <% if @year != nil %> 
          <% @year.each do |item| %>
          <li>
            <b>
              <%= item.title %>
            </b>
            <br> &emsp; &emsp;
            <%= item.content%>
          </li>
          <br>
          <% end %>
        <% end %>
      </ol>
    </p> -->
  </div>
  <div class="col-md-2">
  </div>
</div class="row">
<div align="center">
<p>
<% if logged_in? %>
  <% if @campaign.mods.find_by(email: current_user.email) != nil %>
    <%= button_to('New Goal', '/goals/new', :class => 'btn btn-large btn-primary', 
:method => 'get', params: {'campaign_id' => @campaign.id})  %>
  <% end %>
<% end %>
<strong> Mods: </strong> 
<% @campaign.mods.each do |item|%>
	<p>
		<%= item.email %>
	</p>
<% end %>
</p>
</div>
