<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @goal.campaign %>
</p>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @goal.content %>
</p>

<p>
  <strong>Points:</strong>
  <%= @goal.points %>
</p>

<p>
  <strong>Type:</strong>
  <%= @goal.typed %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
